<!DOCTYPE html>
<html>
<head>
    <title>Report Submitted</title>
</head>
<body>

    <nav>
        <a href="/">Report</a> |
        <a href="/track">Track</a> |
        <a href="/login">Admin</a>
    </nav>
    <hr>

<h2>Report Submitted Successfully</h2>
    <h2>Report Submitted Successfully</h2>

    <p>Your Report ID is:</p>
    <h3>{{ report_id }}</h3>

    <p><em>Tip: Save this ID or keep the tracking tab open.</em></p>

    <a href="/track" target="_blank">
        <button type="submit">Track your report</button>
    </a>
</body>
</html>
